{
  "presets": [
    "babel-preset-expo",
    "react-native-dotenv"
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  },
  "plugins": [
    ["module-resolver", {
      "alias": {
        "#actions":     "./app/actions",
        "#components":  "./app/components",
        "#containers":  "./app/containers",
        "#modules":     "./app/modules",
        "#selectors":   "./app/selectors",
        "#services":    "./app/services",
        "#store":       "./app/store",
        "#utils":       "./app/utils"
      }
    }]
  ]
}
